@media (min-width:955px){
    .profile-box{
        width: 100%;
        display: flex;
    }
    .profile-img{
        width:40%;
    }
    .profile-img img{
        width: 300px;
    }
    .profile-text{
        width: 60%;
        letter-spacing: 2px;
        line-height: 30px;
    }
    
}
*{
    scroll-behavior: smooth;
}
html{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 100%;
}

header{
    font-family: 'Lato', sans-serif;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    height: 270px;
}
header h1{
    position: absolute;
    top: 107px;
    text-align: center;
    padding-left: 0;
    margin: 0;
    letter-spacing: 1px;
}
header a{
    text-decoration: none;
    color: #000;
}
nav{
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 25px;

}
nav ul{
    list-style: none;
}
nav li{
    display: inline;
    text-align: right;
    margin-left: 50px;
}
nav li:hover{
    border-bottom: 1px solid #000;
}
/* ここまでheader */
.person{
    max-width: 960px;
    margin: 50px auto;
    overflow: auto;
    border-top: 1px solid #cdc5c0;
}
.person h1{
    font-family: 'Lato', sans-serif;
    margin: 0 0 70px 0;
    text-align: center;
    font-size: 46px;
}

.wasi{
    margin: 0 40px;
    overflow: auto;
}
.profile-box{
    width: 100%;
}
.profile-img{
    width:40%;
    margin: 0 auto;
}
.profile-img img{
    width: 300px;
    text-align: center;
}
.profile-text{
    width: 100%;
    letter-spacing: 2px;
    line-height: 30px;
    margin: 0 auto;
}

/* ------------------------------- */
.profile-text ul{
    list-style: none;
}
.profile-text li{
    width: 90%;
    font-weight: bold;
}
.profile-text span{
    display: inline-block;
    width: 20%;
}
/* ここまでperson */
.work-list-box{
    max-width: 960px;
    border-top: 1px solid #cdc5c0;
    margin: 0 auto;
}
.work-list-box h1{
    margin: 0 0 70px 0;
    text-align: center;
    font-size: 46px;   
    font-family: 'Lato', sans-serif;
}
.work-list ul{
    list-style: none;
}
.work-list li{
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
    margin-right:2%;
    margin-bottom:60px;
    border-top: 1px solid #000;
    vertical-align: top;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
}
.work-list a{
    text-decoration: none;
    color: #000;
}
.in:hover{
    background: rgba(0,0,0,0.5);
}
.in:hover::after{
    opacity: 1;
} 

.in {
    position: relative;
    width: 100%;
    height: 100%;
}

.in-img {
    margin: 0;
    padding: 0;
}

.in-img img {
    width: 100%;
    height: 100%;
    display: block;
}

.in-darken{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color:rgba(0,0,0,0.5);
    opacity: 0;
    color: #fff;
    transition: all .3s;
    font-size: large;
    text-align: center;
    line-height: 1;
}
.in-darken p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    opacity: 0;
    width: 100%;
}
.in:hover .in-darken{
    opacity: 1;
}
.in:hover .in-darken p{
    opacity: 1;
}
span{
    font-weight: bold;
}